<div class="decks">
  <h3>Build & Select a Deck</h3>
  <select id="decks-select" class="deck-selection">
    <option id="default" val="default">Default</option>
  </select>
  <button class="new-deck"><a href="/build">Build a new Deck</a></button>
</div>
<div class="found-cards">
  <h3>Found Cards:</h3>
  <div class="common-cards"></div>
  <div class="rare-cards"></div>
  <div class="legendary-cards"></div>
</div>
<hr>
<div class="unfound-cards">
  <h3>Unfound Cards:</h3>
  <div class="common-cards"></div>
  <div class="rare-cards"></div>
  <div class="legendary-cards"></div>
</div>

<script src="/scripts/dashboard.js"></script>
