<div id="footer">
  <p class="left inline">©2018 Epic Awesome Dudes. All rights reserved.</p>
  <p class="right inline"><a href="/terms-of-use">Terms of Use</a></p>
  <p class="right inline right8"><a href="/privacy-policy">Privacy Policy</a></p>
</div>
