<title>Battle Corp. Login | By Preston Hager</title>
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="964393796421-gfus2kbg9im2ps8cag9oh8qka9tte9oj.apps.googleusercontent.com">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/login.css" />
