<div class="g-signin2" data-onsuccess="onSignIn" data-onfailure="onFailure" data-longtitle="true"></div>

<form class="login-form" action="/login" method="POST">
  <p><input placeholder="Username" type="text" name="username"></p>
  <p><input placeholder="Password" type="password" name="password"></p>
  <p><button class="login-button">Login</button></p>
</form>

<p>Don't have an account? Sign up <a href="/signup">here!</a></p>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="/scripts/login.js"></script>
