<ul class="navbar" style="text-align:center;background:#ec517f;">
  <li class="active">
    <a href="/"><span class="glyphicon glyphicons-home"></span> Home</a>
  </li>
  <li>
    <a href="/play"><span class="glyphicon glyphicons-playing-dices"></span> Play</a>
  </li>
</ul>
