div.card-info {
  background-color: #222222;
  display: inline;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}
div.card {
  display: inline;
}
div.card-unfound div.wrapper {
  display: inline-block;
  background-color: #222;
  opacity: 0.5;
}

strong {
  margin-right: 8px;
}
