/* Basic Styles of Paragraphs */
p.right {
  float: right;
}
p.left {
  float: left;
}
p.right8 {
  margin-right: 8px;
}
p.inline {
  display: inline-block;
}

/* Basic Styles of Links */
a {
  color: #29dbae;
}
a button {
  color: white;
}
a:hover button {
  color: white;
  decoration: none;
}

/* Basic Styles of Buttons */
button {
  background: #29dbae;
}
button:hover {
  background: #20a2a5;
}

/* Navigation bar style */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff812d;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
}
ul.navbar li {
    float: left;
}
ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.navbar li a:hover {
    background-color: #ff812d;
}
ul.navbar li.active {
    background-color: #ff812d;
}
body {
  padding-top: 5%;
}

/* Footer */
div#footer {
  background: #ff812d;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 8px 8px 0px 8px;
}
div#footer p {
  color: white;
}
