<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

<div class="player-login" style="display:none;">
  <% include ../partials/login.ejs %>
</div>
<div class="player-dashboard" style="display:none;">
  <% include ../partials/dashboard.ejs %>
</div>
</body>
</html>
