<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/header_login.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

<div class="player-login-parent" style="display:none;"><div class="player-login">
  <% include ../partials/login.ejs %>
</div></div>
</body>
</html>
