<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <h1 id="Privacy-Policy">Privacy Policy</h1>

  <h3 id="Summary">Summary</h3>
  <p>We know you hate reading all of these policies, so here's the basic overview of what the following words mean.
  We also recomend that you read the full privacy policy, not just the summary.</p>
  <p>We collect your information, and may share it with third parties. We will store all your information securely, and will not share or sell it to anyone not describe below in <a href="#Sharing-Information">Sharing Information</a>.</p>

  <h3 id="Collection-Use-of-Information">Collection and Use of Information</h3>
  <p>We may collect information about you from <i>your use of the site</i>, or <i>third parties</i>.
  Information you provide includes your email address, username, and a secure version of your password (this is encrypted and hashed, aka unhackable).
  Information provide from third parties may include ad preferences, demographics, and site usage.
  A <i>cookie</i>, which is a small text file, may be stored in your browser so we can identify who you are.
  This helps keep your experience smooth, without you loging in multiple times.</p>

  <h3 id="Sharing-Information">Sharing Information</h3>
  <p>We may share the collected information about you, including your email, username, and/or other identification, with third parties to help us with creating a smoother experience for you the user.</p>

  <h3 id="Storage-of-Information">Secure Storage of Information</h3>
  <p>We store all aspects of your "profile", this is your email, username, game data, and password, in a secure database.
  We will not share this information with anyone not describe above in <a href="#Sharing-Information">Sharing Information</a>.
  We will never sell your information to anyone.</p>

<% include ../partials/footer.ejs %>
</body>
</html>
